<div style="margin-left:90%; margin-top:300px">
  <a href="/stories/add"><i
      class="fas fa-plus fa-2x"
      style="border-radius: 50%; color:white; background-color:green;padding:10px;"
    ></i></a>
</div>