<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">STORY BOOK</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarColor02"
      aria-controls="navbarColor02"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor02">
      <ul class="navbar-nav me-auto">
      </ul>
      <form class="d-flex">
        <ul class="navbar-nav me-auto">
          <li class="nav-item">
            <button class="btn btn-primary my-2 mx-2">
              <a
                href="/stories"
                class="text-decoration-none text-light"
              >Stories</a>
            </button>
          </li>
          <li class="nav-item">
            <button class="btn btn-secondary my-2 mx-2">
              <a
                href="/dashboard"
                class="text-decoration-none text-light"
              >Dashboard</a>
            </button>
          </li>
          <li class="nav-item">
            <button class="btn btn-danger my-2 mx-2"><a
                href="/auth/logout"
                class="text-decoration-none text-light"
              >Logout</a></button>
          </li>
        </ul>

      </form>
    </div>
  </div>
</nav>