<h3 class="fas fa-book-reader">Story Book</h3>
<div class="section">
  <p class="lead">create public and private story from your life</p>
</div>
<div class="divider"></div>
<div class="section">
  <a
    href="/auth/google"
    class="btn darken-1"
    style="background-color: rgb(210, 53, 53); color:white"
  >
    <i class="fab fa-google left"></i>
    Log in with Google
  </a>
</div>